*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: sans-serif;
    background: #2a2a2a;
}

.container{
    width: 95%;
    max-width: 500px;
    height: auto;
    background: #222222;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgb(20, 20, 20);
    padding: 20px;
}

.form{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    row-gap: 25px;
}

.form__row-1{
    grid-column: 1 / 2;
}

.form__row-2{
    grid-column: 2 / 3;
}

.form__row-3{
    grid-column: 1 / -1;
}

.form__row-4{
    grid-column: 1 / -1;
}

.form__row-5{
    grid-column: 1 / -1;
}

.form__row-6{
    grid-column: 1 / -1;
}

.form__row-7{
    grid-column: 1 / -1;
}

.form__row-8{
    grid-column: 1 / -1;
}

.form__row-9{
    grid-column: 1 / -1;
}

.form__input{
    width: 100%;
    height: 30px;
    padding: 5px;
    font-size: 15px;
    outline: none;
    background: transparent;
    border: none;
    border-bottom: 1px solid #0051ff;
    color: #fffffff5;
}

input::placeholder{
    color: gray;
}

.form__select{
    width: 100%;
    height: 30px;
    padding: 5px;
    font-size: 15px;
    outline: none;
    background: transparent;
    border: none;
    border-bottom: 1px solid #0051ff;
    color: gray;
    cursor: pointer;
}

option{
    color: black;
}

.form__btn{
    width: 100%;
    height: 40px;
    font-size: 17px;
    outline: none;
    background: transparent;
    border: none;
    border-radius: 5px;
    border: 1px solid #0051ff;
    color: gray;
    cursor: pointer;
    transition: all .3s;
}

.form__btn:hover{
    background: #0051ff;
    border: 1px solid #0051ff;
    color: #fff;
}